@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  /* font-weight: 500; */
  font-style: normal;
}
:root {
  --primary-color: #4f46e5;
  --secondary-color: #4338ca;
  --text-color: #1f2937;
  --gradient-start: #4680e5;
  --gradient-end: #403aed;
  --light-color: #f3f4f6;
}
/* General body styles */
/* .body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.login_page section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  background-color: #f5f5f5;
}

.login_page section > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  gap: 20px;
}

/* Form container */
.login_page .form-container {
  flex: 1 1 20%;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.login_page .login h2 {
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: #333;
  text-align: center;
}

.login_page .input-container {
  margin-bottom: 20px;
}

.login_page .input-container label {
  display: block;
  font-size: 1rem;
  margin-bottom: 8px;
  color: #555;
}

.login_page .input-container input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login_page button {
  display: block;
  width: 100%;
  padding: 12px;
  margin-top: 50px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login_page button:hover {
  background-color: #0056b3;
}

.login_page .error {
  color: red;
  background-color: rgb(255, 221, 221);
  padding: 0.2rem;
  border: 1px solid red;
  border-radius: 4px;
  margin-top: 0.5rem;
  text-align: center;
  font-weight: 600;
}

/* Responsive styles */
@media (max-width: 768px) {
  .login_page section {
    flex-direction: column;
  }

  .login_page .img-container {
    flex: 1 1 100%;
  }

  .login_page .form-container {
    flex: 1 1 100%;
  }
}

@media (max-width: 480px) {
  .login_page .signup h2 {
    font-size: 1.5rem;
  }

  .login_page button {
    font-size: 0.9rem;
    padding: 10px;
  }
}
