@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  /* font-weight: 500; */
  font-style: normal;
}

:root {
  --primary-color: #4f46e5;
  --secondary-color: #4338ca;
  --text-color: #1f2937;
  --gradient-start: #4f46e5;
  --gradient-end: #7c3aed;
  --light-color: #f3f4f6;
}

/*Header styling*/
.header {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  background: linear-gradient(
      135deg,
      rgba(79, 70, 299, 0.9) 0%,
      rgba(22, 171, 245, 0.85) 90%
    ),
    url("./images/planebg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
}
.header-text {
  max-width: 800px;
  display: flex;
  padding: 2rem;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.header-text h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
.apply-btn {
  display: inline-block;
  background-color: white 100%;
  padding: 1rem;
  border: 1px solid black;
  transition: all 0.3s ease;
}
.apply-btn:hover {
  transform: translateY(-2px);
  cursor: pointer;
}
.learn-btn {
  background-color: transparent;
  padding: 1rem;
  border: 1px solid black;
  transition: all 0.3s ease;
}
.learn-btn:hover {
  background-color: white;
  transform: translateY(-2px);
  color: black;
  cursor: pointer;
}

/*About section*/
.about {
  padding: 5rem 2rem;
  background: white;
}
.about-grid {
  max-width: 1400px;
  margin: 0 auto;
}
.about-text {
  max-width: fit-content;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 2rem;
}
.about-text h1 {
  font-size: 2rem;
  font-weight: 600;
}
.about-card-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 2rem;
}
.about-card {
  flex: 1;
  min-height: 250px;
  padding: 1rem 2rem;
  align-items: center;
  text-align: center;
}
.about-card h3 {
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.about-card p {
  margin-bottom: 0.5rem;
}
.about-card i {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.about-card button {
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  margin-top: 1rem;
}
.about-card button:hover {
  cursor: pointer;
  font-weight: 600;

  transform: scale(1.1);
}
